<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }}
  {% if header_tag == 'sticky-header' %}
    data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% endif %}
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}"
>
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">
            <svg xmlns="http://www.w3.org/2000/svg" width="84" height="12" viewBox="0 0 84 12" fill="none">
              <path d="M43.225 8.14522C43.225 9.29059 43.5291 10.1123 44.1381 10.6092C44.7464 11.1067 45.533 11.3554 46.4974 11.3554C47.4618 11.3554 48.2484 11.1067 48.8567 10.6092C49.465 10.1117 49.7698 9.29059 49.7698 8.14522V3.44255H48.679V8.14522C48.679 8.85338 48.4993 9.40735 48.1393 9.80712C47.7799 10.2069 47.2321 10.4061 46.4974 10.4061C45.7627 10.4061 45.2156 10.2069 44.8555 9.80712C44.4961 9.40735 44.3165 8.85402 44.3165 8.14522V3.44255H43.2256L43.225 8.14522Z" fill="white"/>
              <path d="M53.4056 11.2463H59.0021V10.3414H54.4964V7.74167H58.0058V6.83743H54.4964V4.37346H58.9069V3.46859H53.4056V11.2463Z" fill="white"/>
              <path d="M32.9738 11.1917H34.0646L34.0167 5.22312H34.0646L38.5696 11.1917H39.6125V3.41401H38.5224L38.5696 9.42831H38.5224L34.0167 3.41401H32.9738V11.1917Z" fill="white"/>
              <path d="M65.7819 7.33113C65.7819 8.50696 66.1453 9.47148 66.8727 10.2247C67.6001 10.9785 68.5325 11.3555 69.6706 11.3555C70.619 11.3555 71.3996 11.1162 72.0119 10.6378C72.6249 10.1593 73.0142 9.53938 73.1799 8.77791H72.0538C71.9034 9.29825 71.6366 9.69928 71.2532 9.98166C70.8705 10.2647 70.3421 10.4055 69.6706 10.4055C68.8646 10.4055 68.2044 10.1117 67.6906 9.52351C67.1768 8.93592 66.9199 8.20428 66.9199 7.3305C66.9199 6.45672 67.1788 5.69716 67.6966 5.12098C68.2144 4.54417 68.8879 4.25609 69.7178 4.25609C70.3421 4.25609 70.8499 4.39696 71.2412 4.67997C71.6326 4.96298 71.9034 5.36402 72.0538 5.88372H73.1799C73.0142 5.12225 72.6329 4.50229 72.0359 4.02384C71.4389 3.54539 70.6662 3.30616 69.7185 3.30616C68.5565 3.30616 67.6101 3.68816 66.8787 4.45343C66.1473 5.2187 65.7819 6.17815 65.7819 7.33113Z" fill="white"/>
              <path d="M77.1703 4.37981C77.1703 3.50603 77.4312 2.77439 77.953 2.18679C78.4748 1.59919 79.1623 1.30476 80.0161 1.30476C80.87 1.30476 81.5575 1.59856 82.0793 2.18679C82.6011 2.77439 82.8619 3.50603 82.8619 4.37981C82.8619 5.25358 82.6011 5.98522 82.0793 6.57282C81.5575 7.16042 80.87 7.45485 80.0161 7.45485C79.1623 7.45485 78.4748 7.16105 77.953 6.57282C77.4312 5.98522 77.1703 5.25358 77.1703 4.37981ZM76.0323 4.37981C76.0323 5.53279 76.3996 6.4916 77.135 7.25687C77.8705 8.02214 78.8302 8.40414 80.0161 8.40414C81.2021 8.40414 82.1325 8.02214 82.8792 7.25687C83.626 6.4916 84 5.53279 84 4.37981C84 3.22682 83.6266 2.26801 82.8792 1.50274C82.1325 0.73747 81.1781 0.355469 80.0161 0.355469C78.8541 0.355469 77.8705 0.73747 77.135 1.50274C76.4003 2.26801 76.0323 3.22682 76.0323 4.37981Z" fill="white"/>
              <path d="M83.4077 10.4519H76.6193V11.3555H83.4077V10.4519Z" fill="white"/>
              <path d="M0 3.41401H6.78176V4.29604H3.93662V11.1917H2.84581V4.29604H0V3.41401Z" fill="white"/>
              <path d="M10.323 3.44255H11.4138V6.8336H15.7771V3.44255H16.8679V11.2196H15.7771V7.73784H11.4138V11.2196H10.323V3.44255Z" fill="white"/>
              <path d="M20.5036 11.2463H26.0994V10.3414H21.5944V7.74167H25.1038V6.83743H21.5944V4.37346H26.0043V3.46859H20.5036V11.2463Z" fill="white"/>
            </svg>
          </span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">
            <svg xmlns="http://www.w3.org/2000/svg" width="84" height="12" viewBox="0 0 84 12" fill="none">
              <path d="M43.225 8.14522C43.225 9.29059 43.5291 10.1123 44.1381 10.6092C44.7464 11.1067 45.533 11.3554 46.4974 11.3554C47.4618 11.3554 48.2484 11.1067 48.8567 10.6092C49.465 10.1117 49.7698 9.29059 49.7698 8.14522V3.44255H48.679V8.14522C48.679 8.85338 48.4993 9.40735 48.1393 9.80712C47.7799 10.2069 47.2321 10.4061 46.4974 10.4061C45.7627 10.4061 45.2156 10.2069 44.8555 9.80712C44.4961 9.40735 44.3165 8.85402 44.3165 8.14522V3.44255H43.2256L43.225 8.14522Z" fill="white"/>
              <path d="M53.4056 11.2463H59.0021V10.3414H54.4964V7.74167H58.0058V6.83743H54.4964V4.37346H58.9069V3.46859H53.4056V11.2463Z" fill="white"/>
              <path d="M32.9738 11.1917H34.0646L34.0167 5.22312H34.0646L38.5696 11.1917H39.6125V3.41401H38.5224L38.5696 9.42831H38.5224L34.0167 3.41401H32.9738V11.1917Z" fill="white"/>
              <path d="M65.7819 7.33113C65.7819 8.50696 66.1453 9.47148 66.8727 10.2247C67.6001 10.9785 68.5325 11.3555 69.6706 11.3555C70.619 11.3555 71.3996 11.1162 72.0119 10.6378C72.6249 10.1593 73.0142 9.53938 73.1799 8.77791H72.0538C71.9034 9.29825 71.6366 9.69928 71.2532 9.98166C70.8705 10.2647 70.3421 10.4055 69.6706 10.4055C68.8646 10.4055 68.2044 10.1117 67.6906 9.52351C67.1768 8.93592 66.9199 8.20428 66.9199 7.3305C66.9199 6.45672 67.1788 5.69716 67.6966 5.12098C68.2144 4.54417 68.8879 4.25609 69.7178 4.25609C70.3421 4.25609 70.8499 4.39696 71.2412 4.67997C71.6326 4.96298 71.9034 5.36402 72.0538 5.88372H73.1799C73.0142 5.12225 72.6329 4.50229 72.0359 4.02384C71.4389 3.54539 70.6662 3.30616 69.7185 3.30616C68.5565 3.30616 67.6101 3.68816 66.8787 4.45343C66.1473 5.2187 65.7819 6.17815 65.7819 7.33113Z" fill="white"/>
              <path d="M77.1703 4.37981C77.1703 3.50603 77.4312 2.77439 77.953 2.18679C78.4748 1.59919 79.1623 1.30476 80.0161 1.30476C80.87 1.30476 81.5575 1.59856 82.0793 2.18679C82.6011 2.77439 82.8619 3.50603 82.8619 4.37981C82.8619 5.25358 82.6011 5.98522 82.0793 6.57282C81.5575 7.16042 80.87 7.45485 80.0161 7.45485C79.1623 7.45485 78.4748 7.16105 77.953 6.57282C77.4312 5.98522 77.1703 5.25358 77.1703 4.37981ZM76.0323 4.37981C76.0323 5.53279 76.3996 6.4916 77.135 7.25687C77.8705 8.02214 78.8302 8.40414 80.0161 8.40414C81.2021 8.40414 82.1325 8.02214 82.8792 7.25687C83.626 6.4916 84 5.53279 84 4.37981C84 3.22682 83.6266 2.26801 82.8792 1.50274C82.1325 0.73747 81.1781 0.355469 80.0161 0.355469C78.8541 0.355469 77.8705 0.73747 77.135 1.50274C76.4003 2.26801 76.0323 3.22682 76.0323 4.37981Z" fill="white"/>
              <path d="M83.4077 10.4519H76.6193V11.3555H83.4077V10.4519Z" fill="white"/>
              <path d="M0 3.41401H6.78176V4.29604H3.93662V11.1917H2.84581V4.29604H0V3.41401Z" fill="white"/>
              <path d="M10.323 3.44255H11.4138V6.8336H15.7771V3.44255H16.8679V11.2196H15.7771V7.73784H11.4138V11.2196H10.323V3.44255Z" fill="white"/>
              <path d="M20.5036 11.2463H26.0994V10.3414H21.5944V7.74167H25.1038V6.83743H21.5944V4.37346H26.0043V3.46859H20.5036V11.2463Z" fill="white"/>
            </svg>
          </span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          rel="nofollow"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}

<style>
  .header-wrapper {
    background: transparent;
    {% comment %} margin-bottom: -100%; {% endcomment %}
    border: none;

    --color-foreground: 255, 255, 255;
  }

  .header__heading .header__heading-link {
    padding-top: 0;
  }
</style>
