{{ 'nue-blog-posts.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .nue-blog-posts__grid {
    --columns-mobile: {{ section.settings.columns_mobile }};
    --columns-desktop: {{ section.settings.columns_desktop }};
  }
{%- endstyle -%}
 
<div class="nue-blog-posts page-width">
  <div class="nue-blog-posts__container color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="nue-blog-posts__grid">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'article' -%}
            {%- if block.settings.article != blank -%}
              {% render 'nue-card-article',
                article: block.settings.article,
                title_override: block.settings.title_override,
                animation_order: forloop.index
              %}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NUE Blog Posts",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        },
        {
          "value": "4",
          "label": "4 columns"
        }
      ],
      "default": "3",
      "label": "Number of columns on desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "text",
          "id": "title_override",
          "label": "Title override",
          "info": "Leave blank to use article title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "NUE Blog Posts",
      "blocks": [
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %}